ALL.chr1.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr10.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr11.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr12.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr13.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr14.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr15.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr16.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr17.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr18.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr19.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr2.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr20.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr21.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr22.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr3.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr4.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr5.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr6.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr7.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr8.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz
ALL.chr9.shapeit2_integrated_v1a.GRCh38.20181129.phased.vcf.gz