*.log
*lock.mdb
.coverage*
config/*.build-bak*
config/*.utils-bak*
config/ce11.yml
config/danRer10.yml
config/dm3.yml
config/dm6.yml
config/ensembl.yml
config/hg19.yml
config/hg38.yml
config/mm10.yml
config/mm9.yml
config/rheMac8.yml
config/sacCer3.yml
t/tracks/nearest/db/hg19/index
t/utils/filterCadd.yml
t/utils/index/
/.tidyall.d
