#Our own, special field, tells an interface which fields to run prefix queries on
sort:
  refSeq.codonNumber: avg
  refSeq.codonPosition: avg
  ensGene.codonNumber: avg
  ensGene.codonPosition: avg
  ncbiRefSeq.codonNumber: avg
  ncbiRefSeq.codonPosition: avg
  post_index_settings:
    index:
      refresh_interval: 15s
      number_of_replicas: 1
  index_settings:
    index:
      refresh_interval: -1
      number_of_replicas: 0
      number_of_shards: 6
      codec: best_compression
      mapping:
        single_type: true
    analysis:
      normalizer:
        lowercase_normalizer:
          type: custom
          filter:
            - lowercase
            - asciifolding
        uppercase_normalizer:
          type: custom
          filter:
            - uppercase
            - asciifolding
      filter:
        catenate_filter:
          type: word_delimiter
          catenate_words: true
          catenate_numbers: true
          catenate_all: true
          preserve_original: false
          generate_word_parts: false
          stem_english_possessive: true
          generate_number_parts: false
          split_on_numerics: false
          split_on_case_change: false
        catenate_filter_split:
          type: word_delimiter
          catenate_words: true
          catenate_numbers: true
          catenate_all: true
          preserve_original: false
          generate_word_parts: true
          stem_english_possessive: true
          generate_number_parts: false
          split_on_numerics: false
          split_on_case_change: true
        english_stemmer:
          type: stemmer
          language: light_english
        search_synonym_filter:
          type: synonym
          synonyms_path: "analysis/search-synonyms.txt"
        amino_synonym_filter:
          type: synonym
          synonyms_path: "analysis/amino-synonyms.txt"
        type_synonym_filter:
          type: synonym
          synonyms_path: "analysis/type-synonyms.txt"
        dbSNP_func_synonyms:
          type: synonym
          synonyms_path: "analysis/dbsnp-func-synonyms.txt"
        dbSNP_class_synonyms:
          type: synonym
          synonyms_path: "analysis/dbsnp-class-synonyms.txt"
        exonic_allele_function_search_synonyms:
          type: synonym
          synonyms_path: "analysis/exonic-allele-function-search-synonyms.txt"
        site_type_synonym_filter:
          type: synonym
          synonyms_path: "analysis/site-type-synonyms.txt"
        codon_map_synonym_filter:
          type: synonym
          synonyms_path: "analysis/codon-map-synonyms.txt"
        description_synonyms:
          type: synonym
          synonyms_path: "analysis/refseq-description-synonyms.txt"
        disease_synonyms:
          type: synonym
          synonyms_path: "analysis/disease-synonyms.txt"
        autocomplete_filter:
          type: edge_ngram
          min_gram: 1
          max_gram: 30
          token_chars:
            - letter
            - digit
        english_stop:
          type: stop
          stopwords:
            - a
            - an
            - and
            - are
            - as
            - at
            - be
            - but
            - by
            - for
            - if
            - in
            - into
            - is
            - it
            - of
            - on
            - or
            - has
            - such
            - that
            - the
            - their
            - then
            - there
            - these
            - they
            - this
            - to
            - was
            - will
            - with
            - maybe
      analyzer:
        autocomplete_english:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            # - english_stop
            - catenate_filter
            - english_stemmer
            - autocomplete_filter
        autocomplete_english_split:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter_split
            - english_stemmer
            - autocomplete_filter
        search_english:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter
            - english_stemmer
            - search_synonym_filter
        search_english_split:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter_split
            - english_stemmer
            - search_synonym_filter
        search_english_type:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter
            - english_stemmer
            - type_synonym_filter
            - dbSNP_class_synonyms
        search_english_description_synonyms:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter_split
            - english_stemmer
            - description_synonyms
            - disease_synonyms
        search_english_class:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter
            - english_stemmer
            - dbSNP_class_synonyms
        search_english_func:
          type: custom
          tokenizer: whitespace
          filter:
            - lowercase
            - asciifolding
            #- english_stop
            - catenate_filter
            - english_stemmer
            - dbSNP_func_synonyms
        uppercase_keyword_text:
          type: custom
          tokenizer: keyword
          filter:
            - uppercase
            - asciifolding
        uppercase_keyword_text_codon:
          type: custom
          tokenizer: keyword
          filter:
            - uppercase
            - asciifolding
            - codon_map_synonym_filter
            - amino_synonym_filter
        uppercase_keyword_text_amino:
          type: custom
          tokenizer: keyword
          filter:
            - uppercase
            - asciifolding
            - amino_synonym_filter
  mappings:
    _all:
      enabled: false
    properties:
      chrom:
        type: keyword
        normalizer: lowercase_normalizer
      # chr's are very short, and the "prefix" is a completely valid value
      # so, don't include in all, because many false positivies with ngrams
      pos:
        type: integer
      trTv:
        type: byte
      type:
        type: text
        analyzer: autocomplete_english
        search_analyzer: search_english_type
        fields:
          exact:
            type: keyword
            normalizer: lowercase_normalizer
      discordant:
        type: byte
      heterozygotes:
        type: keyword
      heterozygosity:
        type: half_float
      homozygotes:
        type: keyword
      homozygosity:
        type: half_float
      missingGenos:
        type: keyword
      missingness:
        type: half_float
      ac:
        type: integer
      an:
        type: integer
      sampleMaf:
        type: half_float
      alt:
        type: keyword
        normalizer: uppercase_normalizer
      ref:
        type: keyword
        normalizer: uppercase_normalizer
    refSeq:
      properties:
        siteType:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        exonicAlleleFunction:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        refCodon:
          type: keyword
          normalizer: uppercase_normalizer
        altCodon:
          type: keyword
          normalizer: uppercase_normalizer
        refAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        altAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        codonPosition:
          type: byte
        codonNumber:
          type: integer
        strand:
          type: keyword
        name2:
          type: keyword
          normalizer: uppercase_normalizer
        name:
          type: keyword
          normalizer: uppercase_normalizer
    ensGene:
      properties:
        siteType:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        exonicAlleleFunction:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        refCodon:
          type: keyword
          normalizer: uppercase_normalizer
        altCodon:
          type: keyword
          normalizer: uppercase_normalizer
        refAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        altAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        codonPosition:
          type: byte
        codonNumber:
          type: integer
        strand:
          type: keyword
        name2:
          type: keyword
          normalizer: uppercase_normalizer
        name:
          type: keyword
          normalizer: uppercase_normalizer
    ncbiRefSeq:
      properties:
        siteType:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        exonicAlleleFunction:
          type: text
          analyzer: autocomplete_english
          search_analyzer: search_english_func
          fields:
            exact:
              type: keyword
              normalizer: lowercase_normalizer
        refCodon:
          type: keyword
          normalizer: uppercase_normalizer
        altCodon:
          type: keyword
          normalizer: uppercase_normalizer
        refAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        altAminoAcid:
          type: text
          analyzer: uppercase_keyword_text
          search_analyzer: uppercase_keyword_text_amino
          fields:
            exact:
              type: keyword
              normalizer: uppercase_normalizer
        codonPosition:
          type: byte
        codonNumber:
          type: integer
        strand:
          type: keyword
        name2:
          type: keyword
          normalizer: uppercase_normalizer
        name:
          type: keyword
          normalizer: uppercase_normalizer
    phastCons:
      type: scaled_float
      scaling_factor: 100
    phyloP:
      type: scaled_float
      scaling_factor: 100
