maturin==0.15.1
patchelf==0.17.2
ray==2.4.0
pyarrow==12.0.0
pystalk==0.7.0
orjson==3.8.6
ruamel.yaml==0.17.21
opensearch-py==2.2.0
mgzip==0.2.1
Cython==0.29.33
aiohttp==3.8.4
mypy==1.2.0
pylint==2.17.4