black==23.3.0
flaky==3.7.0
mypy==1.8.0
pandas-stubs==2.0.2.230605
pytest==7.3.1
pytest-cov==4.1.0
pytest-mock==3.11.1
pyright==1.1.349
ruff==0.0.270
types-tqdm==4.65.0.1
types-requests==2.31.0.2
types-psutil==5.9.5
unipressed==1.2.0
