name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint==2.17.4 mypy==1.2.0
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py') --exit-zero
    - name: Anylising the code with mypy
      run: |
        mypy $(git ls-files '*.py')
