name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r **/requirements.txt
        pip install -r **/requirements-dev.txt
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py') --exit-zero --max-line-length=120
    - name: Anylising the code with mypy
      run: |
        mypy $(git ls-files '*.py')
